body {
    background-color: #DC84F3;
}

h2 {
    font-size: 24px;
    color: #F1F6F7;
    text-align: center;
    font-family: serif;
}

.img{
    height: 200px;
    width: 200px;
}

.moon-img {
    width: 200px;
    height: 200px;
    opacity: 90%;
}

.moon-img:hover {
    transform: scale(1.2);
}

.top {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.choise {
    display: flex;
    flex-direction: column; 
}

.choise:hover {
    transform: scale(1.2);
}


.new-idea {
    margin-top: 2%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.idea-input {
    padding: 5px;
    width: 100x;
    color: black;
    background-color: #F1F6F7;
    border: white 0px none;
    border-radius: 4px;
    text-align: center;
}

.idea-input:focus {
    border-color: #4CAF50; 
    outline: none; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.7); 
}

.btn {
    position: relative;
    left: 25%;
    width: 90px;
    height: 30px;
    border: 0px none white;
    background-color: white;
    border-radius: 64px;
}

.btn:hover {
    cursor: pointer;
    background-color: #f0eeee; 
    box-shadow: 0px 4px 8px rgba(78, 78, 78, 0.1); 
}

.idea-h2:hover {
    color: black;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .container-div {
        min-width: 95vh;
    }

    .flex-container {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 0px;
    }

    .dinner {
        display: flex;
        align-items: center;
        gap: 50px;
    }

}
